<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kim.auto-brightness</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/kimen/bin/auto-brightness</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>StandardOutPath</key>
    <string>/tmp/auto-brightness.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/auto-brightness.log</string>
</dict>
</plist>
